.brw-carousel {
}

.brw-carousel-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.brw-carousel-selector-arrow {
  height: 40px;
  overflow: hidden;
  color: var(--br-primary-color);
  font-size: 80px;
  cursor: pointer;
  user-select: none;
}

.brw-carousel-selector-arrow-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.brw-carousel-selector-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 120px;
}

.brw-carousel-selector-center-title {
  font-size: 22px;
  padding-top: 25px;
}

.brw-carousel-selector-center-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  max-height: 26px;
  overflow: none;
}

.brw-carousel-selector-center-bullets-el {
  font-size: 32px;
  cursor: pointer;
  user-select: none;

  &.brw-active {
    color: var(--br-primary-color);
  }
}

.brw-carousel-pages {
}

.brw-carousel-pages-el {
  display: none;

  &.brw-active {
    display: block;
  }
}
